<!DOCTYPE html>
<html lang="uz">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap-5.0.2-dist/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bir.css' %}">
</head>
<body>
    <div class="container-fluid">
        <div class="row navbar">
            <div class="col-12 col-md-6 col-sm-6 navbar-icon"><a href="./bir.html">Muhammadqodir's Blog</a></div>
            <div class="col-12 col-md-6 col-sm-6 navbar-link">
                <div><a href="./about.html">About</a></div>
                <div><a href="./blog.html">Blog</a></div>
                <div><a href="#">Channel</a></div>
            </div>
        </div>
        <div class="row blog">
            <div class="col-12">
                <h1>Blog</h1>
            </div>
        </div>
        <div class="row main">
            <div class="col-12 col-md-6 col-sm-6 main-card1">
                {% for maqola in maqolalar %}
                <p>{{maqola.sana}}</p>
                <div class="main-card1-link">
                    <a href="/blog/maqola 4/index.html"><h6>{{maqola.sana}}</h6><h5>{{maqola.sarlavha}}</h5></a>
                </div>
                {% endfor %}
            </div>
            <div class="col-12 col-md-6 col-sm-6 main-card2">
                <h4>NEWSLETTER</h4>
                <p>Subscribe to <a href="https://t.me/ckaoaw">@tg</a> telegram channel where I share interesting & useful stuff.</p>

            </div>
        </div>
        <div class="row footer">
            <p>© 2021 muhammadqodir.com</p>
        </div>
    </div>
</body>
</html>